body{
    background-color: antiquewhite;
}
.avatar{
    width: 200px;
    height: 200px;
    border-radius: 80px;
}
hr{
    border-style: none;
    border-top: dotted;
    border-color: goldenrod;
    border-width: 6px;
    width: 20%;
}
.custom-ul {
    list-style-type: "💩";
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    color: cornflowerblue;
    text-decoration: underline;
}
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 19;
    -moz-border-radius: 19;
    border-radius: 19px;
    text-shadow: 9px 7px 0px #000000;
    font-family: Arial;
    color: #ffffff;
    font-size: 19px;
    padding: 12px 25px 15px 15px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }






/* body{
    background-color: red;
    text-align: center;
} */
/* . - обращение к классу */
/* .size-up{
    font-size: 50pt;
} */

/* # - обращение к id */
/* #red{
    color: green;
} */
 /* .rotate{
    /* Трансформация поворот на 45 градусов */
      /* transform: rotate(45deg); 
}    */

/* .gray-cube{
    width: 100px;
    height: 100px;
    background-color: gray;
} */