body{
    background-color: #d4d6eb;
    text-align: center;
}
img{
    width: 500px;
    height: 300px;
    border-radius: 20px;
}
div{
    background-color: gray;
    margin-bottom: 20px;
}
.cube{
    width: 100px;
    height: 100px;
}
.circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.lime{
    background-color: lightgreen;
}

.yellow{
    background-color: GOLD;
}

#transf{
    transform: rotate(45deg);
}