body{
  background-color: #141A3C;
}

.head{
  color: #14AAFF;
  font-size: 96px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  padding: 104px 136px;
}

 .exclude{
  position: absolute;
  top: -75px;
  right: -75px;
  filter: blur(11.5px);
  
}

::-webkit-scrollbar {
  width: 0;
}

.text-container{
  color: #14AAFF;
  font-size: 32px;
  margin-left: 90px;
  top: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  position: relative;
}

input{
  width: 491px;
  height: 113px;
  border-radius: 14px;
}

.nav-input{
  padding: 0 187px;
}

button{
  position: relative;
  background-color: #0496FF;
  width: 485px;
  height: 115px;
  top: -117px;
  margin-left:870px;
  border-radius: 14px;
  cursor: pointer;
  outline: none;
  transition: 0.2s all;
}

button:active{
  transform: scale(0.93);
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
}

.button-text{
  font-size: 39px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  position: relative;
  top: -9px;
  color: #141A3C;
}

.nav-button{
  display: flex;
}

.exclude-2{
  position: absolute;
  top: 408px;
  left: 140px;
  z-index: -1;
  filter: blur(3px);
}

.question{
  width: 500px;
  height: 300px;
  background-color: #20295B;
  margin: -59px 187px;
  border-radius: 20px;
}

.score{
  width: 500px;
  height: 300px;
  background-color: #20295B;
  margin: -300px 864px ;
  border-radius: 20px;

}

.sign{
  color: white;
  font-size: 150px;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  top: 65px;
  font-family: 'Inter', sans-serif;
}

.hidden-number{
  font-size: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  z-index: 0;
}

.more-less{
  font-size: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  top: -30px;
  position: relative;

}

.result__count__label{
  position: relative;
  top: -38px;
  font-size: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.record{
  position: relative;
  top: -34px;
  font-size: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

.table-question{
  padding: 1px 31px;
}

.play-again{
  width: 1175px;
  height: 80px;
  background-color: #A000EB;
  box-shadow: -5px 3px 14px #A000EB, 5px -5px 10px #A000EB;
  border-radius: 14px;
  position: absolute;
  top: 130vh;
  margin-left: 187px;
  z-index: -1;

}

.play-text{
  font-size: 35px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  top: -20px;
  position: relative;
  font-weight: 400;
  
}

.cat{
  position: absolute;
  left: -90px;
}

.exclude3{
  position: absolute;
  bottom: -375px;
  right: 60px;
  filter: blur(7.5px);
  z-index: -5;
}

.exclude4{
top: 520px;
right: 70px;
border-radius: 50%;
position: absolute;
width: 202px;
height: 202px;
background-color: #E33DD2;
z-index: -5;
}

.play button:hover{
  background-color:#7600AD;
  box-shadow: -5px 3px 14px #7600AD, 5px -5px 10px #7600AD;
}

.field-button:hover{
  background-color: #007BD4;
}

.field-button:active {
  background-color: #9E20D9;
}












