body{
    background:url("img/pig-bkg.webp");
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    height: 100vh;
    font-family: 'Marmelad', sans-serif;
    
}

main{
    width: 80vw;
    height: 80vh;
    background-color: aquamarine;
    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: blur(200px);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
    display: flex;
    border-radius: 25px;
    overflow: hidden;
}

.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10vh;
    flex: 50%;

}

.dise{
    height: 13vh;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 30%;
    border-radius: 10px;
    box-shadow: 0 1vh 2vh rgba(0, 0, 0, 0.25);
}

.name{
    font-family: 'Rubik Gemstones', cursive;
    font-size: 6vh;
    letter-spacing: 0.5vh;
    word-spacing: 0.8vh;
}

.score{
    color: rgb(199,54,95);
    font-size: 5vh;
}

.player.active{
    background-color: rgba(255,255,255, 0.45);
}

.current{
    background-color: rgb(199,54,95,0.8);
    border-radius: 2vh;
    width: 45%;
    text-align: center;
    color: white;
    font-size: 3vh;
    margin-top: auto;
}

.btn{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    background-color: rgba(255, 255, 255, 0.95);
    backdrop-filter: blur(200px);
    border-radius: 10px;
    cursor: pointer;
    font-size: 3.8vh;
}

.btn-new{
    top: 12%;
}

.btn-roll{
    bottom: 27%;
}

.btn-hold{
    bottom: 12%;
}

.hidden{
    display: none;
}




